
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Productos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
              rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <style>
        .verde {
            background-color: green;
        }

        .rojo {
            background-color: red;
        }
    </style>
    </head>
    <body>
        <header th:replace="~{plantillas/indexPartes :: cabecera}"></header>
        <div class="container-fluid pt-3" >
            <div class="text-center"><p class="fw-bold fs-3 text center">Productos</p></div>
            <div th:if="${msjF}">
                <span th:text="${msjF}" class="alert alert-danger fw-bold fs-5 mx-auto"></span>
            </div>
        <div th:if="${productos !=null and !productos.empty}" class="table-responsive">
            <table border="1" class="table table-striped text-center">
                <thead class="table-dark justify-content-center">
                    <tr style="height: 4rem;" class="align-middle">
                        <th>ID</th>
                        <th>IMAGEN</th>
                        <th>NOMBRE</th>
                        <th>CATEGORIA</th>
                        <th>STOCK</th>                        
                        <th>PRECIO UNI</th>
                        <th>PUM</th>
                        <th>ESTADO</th>
                        <th>DISPONIBLE</th>
                        <th>EDITAR<th>
                        ELIMINAR
                    </tr>
                </thead>
                <tbody>
                  
                    <tr th:each="p : ${productos}" class="align-middle">
                    <td th:text="${p.id}"></td>
                    <td><img th:src="@{/assets/{filename}(filename=${p.productoGlobal.ruta_imagen})}" height="100px" width="120px"></td>
                    <td th:text="${p.productoGlobal.nombre}"></td>
                    <td th:text="${p.productoGlobal.categoria.nombre}"></td>
                    <td th:text="${p.stock}"></td>                     
                    <td th:text="${p.precioUnitario}"></td>
                    <td th:text="${p.pum}"></td>
                    <td th:text="${p.estado}"></td>
                    <td><input type="checkbox" th:checked="${p.disponibilidad}"  disabled="true" class="bg-primary"></td>
                    <td><a class="btn btn-primary" th:href="@{#}" role="button">EDITAR</a></td>
                    <td><a href="javascript:void(0)" class="btn btn-danger" 
                           th:onclick="'eliminarProducto(' + ${p.id} + ')'">ELIMINAR</a>
                        <form th:id="'eliminarProductoForm' + ${p.id}" 
                            th:action="@{/productos/eliminar/{id}(id=${p.id})}" 
                            method="POST" class="d-none"></form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        
        <div th:unless="${productos !=null and !productos.empty}">
            <span class="alert alert-danger fs-5" th:text="${msjNP}">
                
            </span>
        </div>
        </div>    
        <script>
            function eliminarProducto(id){
                if(!confirm('¿Desea eliminar este producto?')){
                    return;
                }else{
                    $('#eliminarProductoForm' + id).submit().window.alert("Producto eliminado");
                }
            }
        </script>
        
        
        
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>
