<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Tienda</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="css/estiloTienda.css" >

            <script src="js/mensajeTienda.js"></script>
    </head>
    <body>
        <div class="modal-dialog text-center">
            <div class="col-sm-8 main-section">
                    <div class="modal-content">
                            <div class="col-12 user-img">
                                <img src="https://static.vecteezy.com/system/resources/previews/022/425/513/non_2x/icon-shop-building-elements-icons-in-blue-round-style-good-for-prints-web-posters-logo-site-plan-map-infographics-etc-vector.jpg" width="40%"/>
                            </div>
                            <form class="col-12" th:action="@{/agregar}" method="POST" th:object="${tienda}">
                                <div class="form-group">
                                        
                                    <label for="InputCodigo">
                                        Codigo
                                    </label>
                                    <input type="number" class="form-control" id="InputCodigo" th:field="*{codigo}" required/>
                                </div>
                                 <div class="form-group">
                                        
                                    <label for="InputNit">
                                        Nit
                                    </label>
                                    <input type="number" class="form-control" id="InputNit" th:field="*{nit}" required/>
                                </div>
                                <div class="form-group">
                                        
                                    <label for="nombre">
                                        Nombre 
                                    </label>
                                    <input id="nombre" type="text" class="form-control" th:field="*{nombre}" required/>
                                </div>
                                <div class="form-group">
                                        
                                    <label for="InputDescripcion">
                                        Descripción
                                    </label>
                                    <input type="text" class="form-control" id="InputDescripcion" th:field="*{descripcion}" required/>
                                </div>
                                <div class="form-group">
					            
                                    <label for="InputFile">
                                        Imagen
                                    </label>
                                    <input type="file" class="form-control-file" id="InputFile" th:field="*{ruta_imagen}" required/>
                                </div>
                                <div class="form-group">
                                    <label for="InputTipo">Tipo</label>
                                    <select class="form-control" id="InputTipo" required>
                                        <option value="">Seleccionar</option>
                                        <option value="opcion1">Opción 2</option>
                                        <option value="opcion2">Opción 3</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">
                                    Registrame
                                </button>
                            </form>
                    </div>
            </div>
        </div>
    </body>
</html>
